/* Asterisk wildcard selector to override default styles added by the browser */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto Condensed', sans-serif; 
}

/* Body styling */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: rgb(56, 77, 50)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 2.5%;
    background: rgba(46, 65, 41, 0.7);
    box-shadow: 0 2px 2px #030101;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: 650;
    margin-left: 0;
}

.navbar a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed' sans-serif;
    margin-left: 2.5rem;
}
/* Main content styling */
main {
    flex: 1;
    padding-bottom: 4rem;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 90vh;
    width: 100%;
    background: url("../images/theravada-buddhism-3818886_1920.jpg") no-repeat center center/cover;
    position: relative;
}

#benefits {
    padding: 1rem; /* Adjust padding as needed */
    text-align: left;
    color: white; /* Example text color */
}

#ben-head{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits h3 {

}
#benefits-spiritual svg {
   bottom: 0;
}
/* Footer styling */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background:  rgba(46, 65, 41, 0.5);
    backdrop-filter: blur(50px);
    text-align: center;
    color: white;
    z-index: 100;
}

#cover-text {
    background-color: rgba(46, 65, 41, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    text-align: right;
    max-width: 350px;
}